*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-style: normal;
}

body{
    background-color: #373737;
}
header{
    position: relative;
}

.nav{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.nav-item{
    text-decoration: none;
    display: inline-block;
}

.nav-item-link{
    font-size: 18px;
    color: #c7c0c0;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 18px;
    text-decoration: none;
    margin-left: 70px;
}

.header-image{
    width: 100%;
}

.main-content-title{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    margin-top: 49px;
    margin-bottom: 38px;
    color: #d1cdcd;
}

.main-content{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    position: relative;
    letter-spacing: 2.4px;
    color: #bbb8b8;
    margin-right: 67.5px;
    margin-left: 67.5px;
    margin-bottom: 28px;
    text-align: center;
}

.main-button{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background: #FF0000;
    border-radius: 4px;
    border: none;
    width: 191px;
    height: 51px;
    font-size: 12px;
    line-height: 12px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 42px;
}

.footer-content{
    float: right;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    font-weight: bold  ;
    color: #c0bdbd;
    margin: 40px 105px 29px 0px;

}

.theme-button{
    position: absolute;
    top: 15px;
    left: 90%;
    padding: 5px;
    background: none;
    cursor: pointer;
}

.white-button{
    border: 2px solid black;
    border-radius: 15px;
    background: none;
}
