.wrapper{
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

.container{
    width: 400px;
    padding: 10px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.input{
    margin: 10px;
}

.input:focus{
    border: 2px solid green;
    outline: 2px solid green;

}

.error{
    color: rgb(187, 36, 36);
    position: absolute;
    top: 55px;
    left: 503px;
}

.button{
    cursor: pointer;    
}

.price{
    width: 400px;
    height: auto;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items:center;
    column-gap: 10px;
    flex-direction: column;
}

/* .priceContainer{
    display:flex;
    
} */

